body
{
   width: 1100px;
   margin:auto;
   background-color: #E1E1E1;

}

header{

    width: 100%;
    height: 100px;
    background-color: #595B64;
    margin: 0 auto;
    font-weight: 300;
    box-shadow: 5px 5px 5px #A7A7A7;

}



title{
	color: white;
	float: left;
	display: inline;
	font-size: 80px
}

img{
	overflow:hidden;
    border-radius:70px;
    width:90px;
    height:90px;
    margin:7px;
    float: right;

}

footer{
	text-align: center;
	margin-top: 200px;
}
li:nth-child(even) {background: #9B9CA0}
li:nth-child(odd) {background: #E1E1E1}

.tableajout{
	margin: auto;
	margin-top: 50px
}

.tasklist-item{

    text-align: center;
    list-style-type: none;

    padding: 8px;



}

li:first-child {
    background-color: #595B64;
    padding: 8px;

}


.tasklist-item.tracer span{
	text-decoration: line-through;
}

.tasklist-item-principal{
	font-weight: bold;
	margin: auto;
    text-align: center;
    list-style-type: none;

}

.tasklist{
	padding: 30px;

}

.lien{
	color:inherit;

}


.tasklist li:nth-child(n+2):hover{

background-color: #ABC3F1;
}

.tasklist-item-id{
	width: 50px;
	display: inline-block;
}

.tasklist-item-name{
  width: 100px;
  display: inline-block;
}

.tasklist-item-mois{
  width: 60px;
  display: inline-block;
}

.tasklist-item-supprimer{
  width: 50px;
  display: inline-block;
}

.tasklist-item-bouton{
	display: inline-block;
	width: 40px;
}
.doneimg{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.poubelle{
	color:inherit;

}

.fait{
	color:inherit;
}

.add{
	color:inherit;
	position: fixed;
	right: 30px;
	bottom: 30px;

}

/*.add i:hover{
	 background-color: #ABC3F1;
}

*/
